body{
    background-image: url("https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?w=740&t=st=1683900560~exp=1683901160~hmac=a5f385d92caa76b7676de10174f89569e2a7f6d3f04f0e4985af1b2208b8dba4");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}